.ChatInput {
  display: flex;
  flex-direction: row;
  margin: auto auto 0 auto;
  background-color: white;
}

.ChatInput.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.ChatInput-textarea {
  border: 1px solid rgba(221, 244, 255, 0.75);
  color: rgba(221, 244, 255, 0.75);
  border-radius: .5em;
  resize: none;
  font-size: 1.2em;
  overflow: hidden;
  background-color: inherit;
  width: 75vw;
  height: 15vh;
  
  margin: auto auto 0 auto;
  padding: 5px;
}

.ChatInput button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 1rem;
}

.ChatInput button:hover {
  background-color: #0056b3;
}