.Message {
  text-align: left;
  margin: 0 auto auto .5em;
}

.Message.is-own {
  text-align: right;
  margin: 0 .5em auto auto;
}

.Message-label {
  font-weight: bold;
  color: rgba(243, 250, 255, 0.75);
  margin: 0 auto -.65em auto;
}

.Message-text {
  color: rgba(221, 244, 255, 0.75);
  margin: 0 auto 0 auto;
  font-size: .8em;
}
