.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: 'Ubuntu';
}

.AppHeader {
  background-color: purple;
  min-height: 4vh;
  max-height: 4vh;
  display: flex;
  flex-direction: row;
}

.AppHeader-buttons {
  display: flex;
  flex-direction: row;
  margin: auto auto auto 0;
}

.AppHeader-buttons button {
  text-align: center;
  font-size: 1.25em;
  cursor: pointer;
  min-height: 4vh;
  max-height: 4vh;
  min-width: 10vw;
  max-width: 10vw;
  font-weight: bold;
  transition: background-color 0.2s;
}

.AppHeader-chatButton {
  background-color: pink;
}

.AppHeader-chatButton:hover {
  background-color: blue;
}

.AppHeader-chatButton.clicked {
  background-color: purple;
}

.AppHeader-imageButton {
  background-color: pink;
}

.AppHeader-imageButton:hover {
  background-color: blue;
}

.AppHeader-imageButton.clicked {
  background-color: purple;
}

.AppHeader-settingsButton {
  background-color: pink;
}

.AppHeader-settingsButton:hover {
  background-color: blue;
}

.AppHeader-settingsButton.clicked {
  background-color: purple;
}

.AppHeader-title {
  font-size: 1em;
  max-height: 4vh;
  min-height: 4vh;
  background-color: red;
}

.AppHeader-title h1 {
  margin: auto;
  color: blue;
}

.AppHeader-themeSwitch {
  max-height: 4vh;
  min-height: 4vh;
  background-color: blue;
  margin: auto 0 auto auto;
}