.ChatHeader {
  display: flex;
  flex-direction: column;
  margin: 0 .5em .5em .5em;
}

.ChatHeader-ModelSelect-container {
  margin: auto auto auto 1em;
}

.Chat-label {
  font-size: 1.3em;
}

.ChatHeader-resetButton {
  transition: background-color 0.2s;

  cursor: pointer;

  font-family: 'Roboto Mono', monospace;
  text-align: center;
  font-size: 1em;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  margin: .5em 0 auto auto;
}

.ChatHeader-resetButton:hover {

}

.ChatHeader-resetButton.disabled {
  opacity: 0.5;
  pointer-events: none;
}