.Message {
  text-align: left;
  margin: auto;
}

.Message.is-own {
  text-align: right;
  margin: auto;
}

.Message-label {
  font-weight: bold;
  margin: auto auto -.75em auto;
  font-size: 1.1em;
}

.Message-text {

}
