.ImageViewInput {
  display: flex;
  flex-direction: row;
  margin: 1em auto 0 auto;
  align-items: center;
}

.ImageViewInput.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.ImageViewInput-textarea {
  width: 100%;
  margin: auto 0 auto 10px;
}

.ImageViewInput-textarea-message-wrapper {
  width: 75vw;
  border: 1px solid black;
  border-radius: 8px;
  padding: 2px 5px;
  text-align: start;
}

.ImageViewInput-textarea-message-text {
  min-height: 1em;
  width: 100%;
  outline: none;
  overflow: hidden;
}

.ImageViewInput button {
  transition: background-color 0.2s;

  font-size: 1em;

  border-radius: 8px;

  cursor: pointer;

  padding: 5px 10px;
  margin: auto 10px auto 10px;

  align-items: center;
  display: flex;
  -ms-flex-align: center;
}

.ImageViewInput button:hover {

}