.ImageViewHeader {
  display: flex;
  flex-direction: column;
  margin: 0 .5em .5em .5em;
}

.ImageViewHeader-label {
  font-size: 1.3em;
  margin: auto auto 1em auto;
}

.ImageViewHeader-interactable-container {
  display: flex;
  flex-direction: row;
}

.ImageViewHeader-DropdownSelect-container {
  display: flex;
  flex-direction: row;
  margin: auto auto auto 1em;
}

.ImageViewHeader-DropdownSelect-container * {
  margin: auto .75em auto auto;
}

.ImageViewHeader-resetButton {
  transition: background-color 0.2s;

  cursor: pointer;

  font-family: 'Roboto Mono', monospace;
  text-align: center;
  font-size: 1em;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  margin: .5em 1em auto auto;
}

.ImageViewHeader-resetButton:hover {

}

.ImageViewHeader-resetButton.disabled {
  opacity: 0.5;
  pointer-events: none;
}