.ImageViewDisplay {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
  font-size: 1.2rem;
  min-height: 60vh;
  max-height: 75vh;
  min-width: 75vw;
  max-width: 85vw;
  margin: .5em auto auto auto;
  border: 1px solid black;
}

.ImageViewDisplay-infoText h1 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 1.5em;
  margin: 10em auto auto auto;
}
